astroid==2.15.5 ; python_version >= "3.8" and python_version < "3.12"
certifi==2023.5.7 ; python_version >= "3.8" and python_version < "3.12"
charset-normalizer==3.1.0 ; python_version >= "3.8" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.12" and sys_platform == "win32" or python_version >= "3.8" and python_version < "3.12" and platform_system == "Windows"
coloredlogs==15.0.1 ; python_version >= "3.8" and python_version < "3.12"
contourpy==1.1.0 ; python_version >= "3.8" and python_version < "3.12"
cycler==0.11.0 ; python_version >= "3.8" and python_version < "3.12"
dill==0.3.6 ; python_version >= "3.8" and python_version < "3.12"
easyprocess==1.1 ; python_version >= "3.8" and python_version < "3.12"
entrypoint2==1.1 ; python_version >= "3.8" and python_version < "3.12"
flatbuffers==23.5.26 ; python_version >= "3.8" and python_version < "3.12"
fonttools==4.40.0 ; python_version >= "3.8" and python_version < "3.12"
humanfriendly==10.0 ; python_version >= "3.8" and python_version < "3.12"
idna==3.4 ; python_version >= "3.8" and python_version < "3.12"
imageio==2.31.1 ; python_version >= "3.8" and python_version < "3.12"
importlib-metadata==6.7.0 ; python_version >= "3.8" and python_version < "3.9"
importlib-resources==5.12.0 ; python_version >= "3.8" and python_version < "3.10"
isort==5.12.0 ; python_version >= "3.8" and python_version < "3.12"
jeepney==0.8.0 ; python_version >= "3.8" and platform_system == "Linux" and python_version < "3.12"
kiwisolver==1.4.4 ; python_version >= "3.8" and python_version < "3.12"
lazy-loader==0.2 ; python_version >= "3.8" and python_version < "3.12"
lazy-object-proxy==1.9.0 ; python_version >= "3.8" and python_version < "3.12"
llvmlite==0.40.1rc1 ; python_version >= "3.8" and python_version < "3.12"
matplotlib==3.7.1 ; python_version >= "3.8" and python_version < "3.12"
mccabe==0.7.0 ; python_version >= "3.8" and python_version < "3.12"
mouseinfo==0.1.3 ; python_version >= "3.8" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.8" and python_version < "3.12"
mss==9.0.1 ; python_version >= "3.8" and python_version < "3.12"
networkx==3.1 ; python_version >= "3.8" and python_version < "3.12"
numba==0.57.0 ; python_version >= "3.8" and python_version < "3.12"
numpy==1.24.3 ; python_version < "3.12" and python_version >= "3.8"
onnxruntime==1.15.1 ; python_version >= "3.8" and python_version < "3.12"
opencv-contrib-python==4.7.0.72 ; python_version >= "3.8" and python_version < "3.12"
opencv-python-headless==4.7.0.72 ; python_version >= "3.8" and python_version < "3.12"
packaging==23.1 ; python_version >= "3.8" and python_version < "3.12"
pillow==9.5.0 ; python_version >= "3.8" and python_version < "3.12"
platformdirs==3.7.0 ; python_version >= "3.8" and python_version < "3.12"
pooch==1.7.0 ; python_version >= "3.8" and python_version < "3.12"
protobuf==4.23.3 ; python_version >= "3.8" and python_version < "3.12"
psutil==5.9.5 ; python_version >= "3.8" and python_version < "3.12"
pyautogui==0.9.54 ; python_version >= "3.8" and python_version < "3.12"
pygetwindow==0.0.9 ; python_version >= "3.8" and python_version < "3.12"
pylint==2.17.4 ; python_version >= "3.8" and python_version < "3.12"
pymatting==1.1.8 ; python_version >= "3.8" and python_version < "3.12"
pymsgbox==1.0.9 ; python_version >= "3.8" and python_version < "3.12"
pyobjc-core==9.2 ; python_version >= "3.8" and python_version < "3.12" and platform_system == "Darwin"
pyobjc-framework-cocoa==9.2 ; python_version >= "3.8" and python_version < "3.12" and platform_system == "Darwin"
pyobjc-framework-quartz==9.2 ; python_version >= "3.8" and python_version < "3.12" and platform_system == "Darwin"
pyparsing==3.1.0 ; python_version >= "3.8" and python_version < "3.12"
pyperclip==1.8.2 ; python_version >= "3.8" and python_version < "3.12"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.8" and python_version < "3.12"
pyrect==0.2.0 ; python_version >= "3.8" and python_version < "3.12"
pyscreenshot==3.1 ; python_version >= "3.8" and python_version < "3.12"
pyscreeze==0.1.29 ; python_version >= "3.8" and python_version < "3.12"
pytesseract==0.3.10 ; python_version >= "3.8" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.12"
python3-xlib==0.15 ; platform_system == "Linux" and python_version >= "3.8" and python_version < "3.12"
pytweening==1.0.7 ; python_version >= "3.8" and python_version < "3.12"
pywavelets==1.4.1 ; python_version >= "3.8" and python_version < "3.12"
rembg==2.0.46 ; python_version >= "3.8" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.8" and python_version < "3.12"
rubicon-objc==0.4.6 ; python_version >= "3.8" and python_version < "3.12" and platform_system == "Darwin"
scikit-image==0.21.0 ; python_version >= "3.8" and python_version < "3.12"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.12"
setuptools==68.0.0 ; python_version >= "3.8" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.12"
sympy==1.12 ; python_version >= "3.8" and python_version < "3.12"
tifffile==2023.4.12 ; python_version >= "3.8" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
tomlkit==0.11.8 ; python_version >= "3.8" and python_version < "3.12"
tqdm==4.65.0 ; python_version >= "3.8" and python_version < "3.12"
typing-extensions==4.6.3 ; python_version >= "3.8" and python_version < "3.11"
urllib3==2.0.3 ; python_version >= "3.8" and python_version < "3.12"
wrapt==1.15.0 ; python_version >= "3.8" and python_version < "3.12"
zipp==3.15.0 ; python_version >= "3.8" and python_version < "3.10"
