{% extends 'components/layout.html' %}
{% set title = 'Portfolio' %}

{% block main %}
<div class="py-4 container text-center align-items-center">
    <div class="section">
        <!-- TODO: Loop through the database entries to display them in this table -->
        <table class="table table-hover table-dark table-borderless">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position Size</th>
                    <th scope="col">Entry Price</th>
                    <th scope="col">Current Price</th>
                    <th scope="col">Estimated P/N (%)</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
            {% for stock in portfolio %}
            <tr>
                <th scope="row">{{person["id"]}}</th>
                <td>{{person["name"]}}</td>
                <td>{{person["birthday"]}}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>CASH</th>
                <th></th>
            </tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>TOTAL</th>
            <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}
