{% extends 'components/layout.html' %}
{% set title = 'Portfolio' %}

{% block main %}
<div class="py-4 container text-center align-items-center">
    <div class="section">
        <!-- TODO: Loop through the database entries to display them in this table -->
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ticker</th>
                <th scope="col">Position Size</th>
                <th scope="col">Entry Price</th>
                <th scope="col">Current Price</th>
                <th scope="col">Estimated P/N (%)</th>
                <th scope="col">Value</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% set ns = namespace(cur_balance = 0) %}
            {% for ticker in portfolio["tickers"] %}
            <tr>
                <th scope="row">{{ticker["id"]}}</th>
                <td>{{ticker["ticker"]}}</td>
                <td>{{ticker["size"]}}</td>
                <td>{{ticker["entry_price"]}}</td>
                <td>{{ticker["current_price"]}}</td>
                {% if ticker["pnl"]|float > 0 %}
                <td class="text-success fw-bold">{{ticker["pnl"]}} %</td>
                {% else %}
                <td class="text-danger fw-bold">{{ticker["pnl"]}} %</td>
                {% endif %}
                <td class="fw-bold">{{ticker["current_value"]}}</td>
                <td><a href="/buy?ticker={{ticker['ticker']}}" class="btn btn-primary my-1">BUY</a>
                    <a href="/sell" class="btn btn-danger my-1">SELL</a>
                </td>
                {% set ns.cur_balance = ns.cur_balance + ticker["current_value"] | int %}
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>CASH</th>
                <th>{{portfolio["cash"]}}</th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>TOTAL</th>
                <th>{{portfolio["total_portfolio_value"]}}</th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}