{% extends 'components/layout.html' %}
{% set title = 'Quote' %}


{% block main %}
<div class="mx-5 mb-5" id="search-box">
    <input class="form-control" list="ticket-list" id="ticker-search" autofocus placeholder="Find your next 🐂 & 🧸">
    <datalist id="ticket-list">
        <option value="AAPL">
        <option value="AMZN">
        <option value="GOOG">
        <option value="MSFT">
        <option value="TSLA">
    </datalist>
</div>
<div class="row justify-content-start mx-5 mb-5" id="card">
</div>

{% endblock %}