{% block birthday_table %}
<div class="py-4 container text-center align-items-center">
    <div class="section">
        <h2>All Birthdays</h2>
        <!-- TODO: Loop through the database entries to display them in this table -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birthday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Larry the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}