{% block birthday_table %}

<div class="py-4 container text-center align-items-center">
    <div class="section">
        <h2>All Birthdays</h2>
        <!-- TODO: Loop through the database entries to display them in this table -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Birthday</th>
                </tr>
            </thead>
            <tbody>
                {% for person in birthday_table %}
                <tr>
                    <th scope="row">{{person["id"]}}</th>
                    <td>{{person["name"]}}</td>
                    <td>{{person["birthday"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}