{% block birthday_form %}
<section class="py-4 text-center container align-items-center">
    <div class="row pt-lg-5">
        <h2>Add a Birthday</h2>
    </div>
    <form id="addBirthday" class="row text-start pt-lg-5 px-4" autocomplete="on" action="/" method="post">
        <div class="col-md-3 pt-sm-3">
            <label for="inputName" class="form-label">Name</label>
            <input form="addBirthday" type="text" minlength="3" required class="form-control" style="width: 100%;" id="inputName"
                autofocus name="name">
        </div>
        <div class="col-md-3 pt-sm-3">
            <label for="inputMonth" class="form-label">Month</label>
            <input form="addBirthday" type="number" min="1" max="12" required class="form-control" style="width: 100%;"
                id="inputMonth" name="month">
        </div>
        <div class="col-md-3 pt-sm-3">
            <label for="inputDay" class="form-label">Day</label>
            <input form="addBirthday" type="number" min="1" max="31" required class="form-control" style="width: 100%;"
                id="inputDay" name="day">
        </div>
        <div class="col-md-3 align-self-end d-flex justify-content-end">
            <button form="addBirthday" type="submit" class="btn btn-primary mt-4">Add a Birthday</button>
        </div>
    </form>
    </div>
</section>
{% endblock %}