{% extends 'layout.html' %} {% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center bg-primary">
  <h1 class="display-4 fw-normal text-white my-0">Birthday</h1>
  <p class="fs-5 text-white">
    A web application to keep track of friends's birthdays
  </p>
</div>
{% endblock %} {% block form %}
<div class="container p-3">
  <div class="row">
    <h2 class="text-center">Add a Birthday</h2>
  </div>
  <div class="row">
    <form class="row align-center" method="post">
      <div class="col-3 p-2">
        <label for="name" class="visually-hidden"></label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Name"
          required
        />
      </div>
      <div class="col-3 p-2">
        <label for="month" class="visually-hidden"></label>
        <input
          type="number"
          class="form-control"
          id="month"
          name="month"
          min="1"
          max="12"
          placeholder="Month"
          required
        />
      </div>
      <div class="col-3 p-2">
        <label for="day" class="visually-hidden"></label>
        <input
          type="number"
          class="form-control"
          id="day"
          name="day"
          min="1"
          max="31"
          placeholder="day"
          required
        />
      </div>
      <div class="col-auto p-2">
        <button type="submit" class="btn btn-primary">Add Birthday</button>
      </div>
      <div class="col-auto p-2">
    </form>
  </div>
  <div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{category}} m-2" role="alert">
            {{ message }}
          </div>
          {% endfor %}
      {% endif %} {% endwith %}
  </div>
</div>
{% endblock %} {% block table %}
<div class="container p-3" id="birthdays-table">
  <div class="section">
    <h2 class="text-center">All Birthdays</h2>
    <table class="table">
      <thead class="table-striped table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Birthday</th>
        </tr>
      </thead>
      <tbody>
        {% for friend in friends %}
          <tr>
            <th scope="row">{{friend["id"]}}</th>
            <td>{{friend["name"]}}</td>
            <td>{{friend["month"]}}/{{friend["day"]}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
